.DS_Store
desktop.ini
__pycache__
# generated on build
gfx/*/tile_config.json

# built sprite sheets
gfx/*/*.png

# built book
book

# Build output
out/

# Krita
*.png-autosave.kra
*.kra
*.kra~
*.png~

# Direnv & Nix
.direnv
result
.local

# Source multitile files
source

# Don't include this ever!!
debug.log

# This particular fallback file should be included
!gfx/PenAndPaper/fallback.png
tools/venv/

dda-backport-tracked-pr
dda-backports
/tools/.venv
tools/debug.log
gfx/MShockXotto+/pngs_tiles_32x32/terrain/debug.log

# Claude Code local files
.claude/
CLAUDE.md
